<ion-header>
  <ion-toolbar>
    @if (!showSearch()) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>
        <span class="title-container">
          <span class="title-text ion-hide-sm-down">
            {{ 'App.NavTitle' | translate }}
          </span>

          <span class="title-text ion-hide-md-up">
            {{ 'App.NavTitleShort' | translate }}
          </span>
        </span>
      </ion-title>
    }

    @if (showSearch() && !shouldCompareRulesInstead()) {
      <ion-searchbar
        color="primary"
        showCancelButton="true"
        [debounce]="300"
        (ionCancel)="setSearchValue(undefined)"
        (ionClear)="setSearchValue(undefined)"
        (ionInput)="setSearchValue($event.detail.value)"
        (ionChange)="setSearchValue($event.detail.value)"
        [placeholder]="'App.SearchPlaceholder' | translate"
      ></ion-searchbar>
    }

    <ion-buttons slot="end">
      @if (!showSearch()) {
        <ion-button (click)="languageSelect.open()">
          <ion-icon name="language"></ion-icon>
        </ion-button>

        <ion-select
          class="ion-hide"
          #languageSelect
          label="Select Language"
          placeholder="Select Language"
          (ionChange)="paramService.changeLanguage()"
          [(ngModel)]="paramService.currentLocale"
          [ngModelOptions]="{ standalone: true }"
        >
          @for (language of paramService.allLanguages(); track $index) {
            <ion-select-option [value]="language.code">
              {{ language.name }}
            </ion-select-option>
          }
        </ion-select>
      }

      @if (!shouldCompareRulesInstead()) {
        <ion-button
          (click)="toggleSearch()"
          [title]="'App.Titles.Search' | translate"
        >
          <ion-icon name="search"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding printable"
  scrollEvents="true"
  (ionScroll)="scroll($event)"
>
  @if (showScrollUp()) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="print-hide">
      <ion-fab-button
        size="small"
        color="primary"
        translucent="true"
        (click)="scrollToEl('#top')"
      >
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }

  <div id="top"></div>

  @if (shouldCompareRulesInstead()) {
    <app-compare-rules></app-compare-rules>
  } @else {
    <app-rules-display></app-rules-display>
  }
</ion-content>
