<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-list lines="none" class="game-list">
            <ion-item class="game">
              <ion-select
                label="Select Game"
                placeholder="Select Game"
                (ionChange)="changeGame()"
                [(ngModel)]="currentGame"
              >
                @for (game of allGames(); track $index) {
                  <ion-select-option [value]="game.code">
                    {{ game.name }}
                  </ion-select-option>
                }
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          @for (ruleHead of rulesService.navHeaders(); track $index) {
            <ion-menu-toggle autoHide="false">
              <ion-item
                color="transparent"
                (click)="
                  navigateTo(rulesService.indexesToRules[ruleHead.index])
                "
                [style.border-left]="'5px solid ' + ruleHead.color"
                [style.border-bottom]="'1px solid ' + ruleHead.color"
              >
                {{ ruleHead.name }}

                @if (ruleHead.icon; as icon) {
                  <img
                    class="inline-icon ion-margin-start"
                    [src]="'inicon/' + ruleHead.icon + '.png'"
                    alt="{{ ruleHead.icon }}"
                  />
                }
              </ion-item>
            </ion-menu-toggle>
          }

          <ion-item class="language">
            <ion-select
              label="Select Language"
              placeholder="Select Language"
              (ionChange)="changeLanguage()"
              [(ngModel)]="currentLocale"
            >
              @for (language of allLanguages(); track $index) {
                <ion-select-option [value]="language.code">
                  {{ language.name }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
