:host {
  --ion-item-border-color: #ccc !important;
}

.language {
  border-bottom: 1px solid #ccc;

  ion-select {
    width: 100%;
    max-width: 100%;
  }
}

.game-list {
  padding-bottom: 0;
}

.game ion-select::part(text) {
  font-size: 1.5em;
}

.language,
.game {
  ion-select {
    padding-left: 6px;

    &::part(label) {
      display: none;
    }
  }
}

.toggle {
  border-bottom: 1px solid #ccc;
}
